<div class="main-div JosefinSans">
    <div class="glass-div">
        <div fxLayout="column" fxLayoutAlign="center center">
          <img style="border-radius: 50%; width: 150px;" [src]="image" class="avatar" alt="" />
          <h3 style="margin:0 10 0 10">{{name}}</h3>
          <p style="margin:0; font-size: 0.9em;">{{title}}</p>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <a href="{{'tel:'+tel}}">
            <mat-icon aria-hidden="false" aria-label="Example home icon">phone</mat-icon>
            <span class="aligned-with-icon">Appelez moi</span>
          </a>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <a href="{{'sms:'+tel}}">
            <mat-icon aria-hidden="false" aria-label="Example home icon">sms</mat-icon>
            <span class="aligned-with-icon">Envoyez-moi un message</span>
          </a>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <a href="{{'mail:'+email}}">
            <mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
            <span class="aligned-with-icon">Envoyez-moi un mail</span>
          </a>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <a href="{{website}}">
            <mat-icon aria-hidden="false" aria-label="Example home icon">web</mat-icon>
            <span class="aligned-with-icon">Lien vers ma page web</span>
          </a>
        </div>
    </div>
</div>